
*.pyc
db.sqlite3
imagem/__init__.py
objeto/__init__.py
visiondetect/__init__.py
.DS_Store
.idea
dispositivo/__init__.py
dispositivo/migrations/
imagem/migrations/
objeto/migrations/
media/

Tensorflow/
visiondetect/static/detection/