.image-logo{
    width: 150px;
    margin-left: 300px;
}
.itens-menu{
    font-size: 24px;
}
.itens-menu li{
    margin-left: 30px;
}
.box-image-camera{
    text-align: center;
}
.image-camera{
    width: 600px;
}
body main{
    max-width: 1000px;
    margin: 0 auto 48px;
    min-height: 400px;
}
.box-info-camera{
    margin-top: 100px;
}
.box-info-camera img{
    width: 400px;
}
.box-homepage{
    display: flex;
}
.card-objetos{
    margin-right: 50px;
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}
.card-dispositivos{
    width: 500px;
    height: 400px;
    overflow-y: scroll;
}
.icon-plus{
    position: absolute;
    left: 415px;
}
.rodape{
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.card-body {
    padding: 2.0rem 1rem !important;
}
.box-dispositivos{
    display: flex;
}
.delete-dispositivo{
    margin-left: 10px;
}
#new-dispositivo .form-row,
#new-objeto .form-row{
    display: block !important;
}
.footer-logo{
    width: 85px;
}
.box-footer{
    text-align: center;
}
#footer-page{
    margin-top: 100px!important;
    margin-bottom: 3rem!important;
}
.link-secondary{
    border-bottom: 1px solid #6c757d;
}
#table-objetos{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
#new-objeto{
    height: 50px;
}
#new-objeto a{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none !important;
}
#table-objetos a{
    color: black;
}
.info-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.info-image{
    margin-right: 100px;
    margin-bottom: 30px;
}
.info-image img{
    width: 300px;
}
.box-button{
    position: absolute;
    right: 400px;
    top: 150px;
}
.box-button button a{
    text-decoration: none;
    color: white;
}
.box-button button{
    margin-right: 30px;
}
.box-new-objeto h1{
    margin-bottom: 60px;
}
.box-new-objeto form .form-row{
    display: block;
    margin-bottom: 60px;
}
.info-image img.delete-imagem{
    width: 35px;
    position: absolute;
    margin-left: 260px;
    margin-top: 5px;
}
.head-info{
    margin-bottom: 20px;
}
#select-add-image{
    width: 350px;
    margin-bottom: 30px;
}
#add-camera-img{
    display: block;
    margin-top: 50px;
}
#add-camera-img a{
    text-decoration: none;
    color: white;
}
.camera-info{
    font-size: 12px;
}
#t-dataset{
    text-decoration: none;
    color: white;
}
.info-training{
    margin-bottom: 50px;
}
.card-about{
    margin-top: 50px;
}
.etapas{
    width: 900px;
}
.sub{
    border-bottom: 1px solid black;
}
#image-result{
    width: 640px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#contagem{
    width: 640px;
    text-align: center;
}